{% extends 'AcmeDemoBundle::layout.html.twig' %}

{% block title %}Vagrant Workshop - Demo Application{% endblock %}

{% block content_header '' %}

{% block content %}
    <div>
        <h1 class="title">Hello Vagrant Workshop!</h1>
    </div>
{% endblock %}
